contourpy==1.3.2
cycler==0.12.1
flake8==7.2.0
fonttools==4.58.0
kiwisolver==1.4.8
matplotlib==3.10.3
mccabe==0.7.0
mypy==1.15.0
mypy_extensions==1.1.0
numpy==2.2.6
optype==0.9.3
packaging==25.0
pillow==11.2.1
pycodestyle==2.13.0
pyflakes==3.3.2
pyparsing==3.2.3
python-dateutil==2.9.0.post0
scipy==1.15.3
scipy-stubs==1.15.3.0
six==1.17.0
typing_extensions==4.13.2
